body {
  background-color: #ffe6ff;
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}
body {
 font-family: 'Sacramento', cursive;
  font-size: 20px;
  color: #222;
  margin: 0px;
  padding: 0px;
}
header{
  font-size: 25px;
  line-height: 48px;
}
h4 {
  font-size: 21px;
 font-family: 'Sacramento', cursive;
}
h4 #clock {
  font-size: 25px;
  display: block;
  padding: 5px 0px;
}
h1, h2, h3, h6 {
   font-family: 'Sacramento', cursive;
}

blockquote {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  margin: -80px 0 100px 0;
  color: #00ffff;
  text-align: center;
}

img {
  width: 100%;
}

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }

#lolcat {
  margin: 0 auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 10px;
  border:10px solid #ff00ff;
}
#wakeUpTimeSelector, #lunchTimeSelector, #napTimeSelector {
  padding: 10px 0;
}
#partyTimeButton {
  background-color: green;
  width: 300px;
  font-family: 'Sacramento', cursive;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {

  font-size: 12px;
}
